body{
  background-color: #DBFCFF;
  padding: 15px;
}

#cakeListContainer{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.cake{
  margin: 2%;
  padding: 1em;
  border-color: #7F96FF;
  border-style: groove;
  border-radius: 30px;
  background-color: #ADBCFF;
  width: 25%;
}

#cakeForm{
  display: flex;
  flex-direction: column;
  width: 30%;
}

#cakeForm input{
  margin: 0.25em;
}

h1{
  color: #320E3B;
}

h2{
  color: #320E3B;
}
